<header>
    <div class="container">
        <h1>Kaya Equevilley Portfolio</h1>
        <nav>
            <ul>
                <li><a href="index.html" id="nav-home">Home</a></li>
                <li><a href="venice.html" id="nav-venice">Venice</a></li>
                <li><a href="florence.html" id="nav-florence">Florence</a></li>
                <li><a href="rome.html" id="nav-rome">Rome</a></li>
                <li><a href="valletta.html" id="nav-valletta">Valletta</a></li>
                <li><a href="about.html" id="nav-about">About</a></li>
            </ul>
        </nav>
    </div>
</header>
